In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
def main(co_id , year , season):
    form_data = {'encodeURIComponent': '1',
    'step': '1',
    'firstin': '1',
    'off': '1',
    'queryName': 'co_id',
    'inpuType': 'co_id',
    'TYPEK': 'all',
    'isnew': 'false',
    'co_id': co_id,
    'year': year,
    'season': season}

    res = requests.post("https://mops.twse.com.tw/mops/web/t163sb01" , data = form_data)
    soup = BeautifulSoup(res.text, 'lxml')
    info = soup.select('.noBorder')[0]
    df = pd.read_html(info.prettify('utf-8') , encoding= 'utf-8')
    
    df[7].rename(columns={ 0 : df[7].iloc[0][0] , 1 : df[7].iloc[0][1] , 2 : df[7].iloc[0][2]} , inplace=True)
    balance_sheet_name = str(df[5].iloc[0][0]) + ' ' + str(df[6].iloc[0][0]) + ' ' + str(df[5].iloc[1][0])
    balance_sheet = df[7].drop(0).reset_index(drop = True).style.set_caption(balance_sheet_name)
    
    df[10].rename(columns={ 0 : df[10].iloc[0][0] , 1 : df[10].iloc[0][1] , 2 : df[10].iloc[0][2] , 3 : df[10].iloc[0][3] , 4 : df[10].iloc[0][4] } ,  inplace=True)
    profit_loss_name = str(df[8].iloc[0][0]) + ' ' + str(df[9].iloc[0][0]) + ' ' + str(df[8].iloc[1][0])
    profit_loss = df[10].drop(0).reset_index(drop = True).style.set_caption(profit_loss_name)
    
    display(balance_sheet , profit_loss)

In [4]:
main(2330 , 108 , 2)